<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.title" placeholder="Movie title" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        Export
      </el-button>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      style="width: 95%;"
      highlight-current-row
    >
      <el-table-column label="id">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Movie Title">
        <template slot-scope="{row}">
          <span>{{ row.title }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Year">
        <template slot-scope="{row}">
          <span>{{ row.year }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Actions" width="120">
        <template slot-scope="{row}">
          <el-button type="primary" size="mini" @click="handleSubmit(row)">
            Watch Now
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import waves from '@/directive/waves'

export default {
  name: 'MyTable',
  components: {
    Pagination
  },
  directives: {
    waves
  },
  data() {
    return {
      list: null,
      watch: '',
      total: 0,
      listLoading: true,
      downloadLoading: false,
      listQuery: {
        page: 1,
        limit: 3,
        title: undefined
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      const { data } = {
        data: {
          total: 30,
          items: [
            { id: 1, title: 'missão Impossivel', year: '2003',},
            { id: 2, title: 'Casa', year: '1950'},
            { id: 3, title: 'Transformers - O ultimo Cavaleiro', year: '2010'},
            { id: 4, title: 'Transformers - O ultimo Cavaleiro', year: '2010'},  
            { id: 5, title: 'Transformers - O ultimo Cavaleiro', year: '2010'},  
            { id: 6, title: 'Transformers - O ultimo Cavaleiro', year: '2010'},       
          ]
        }
      }
      this.list = data.items
      this.total = data.total
      this.listLoading = false
    },
    handleSubmit(row) {
      console.log(row)
    },
    handleFilter() {
      this.listQuery.page = 1
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'title']
        const filterVal = ['id', 'title']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'my-movies-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        return v[j]
      }))
    },
  }
}
</script>

<style>

</style>